
.navbar {
    display : flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1c1c1c;
    padding: 15px 40px;
    color: white;
    font-family: 'Segoe UI', sans-serif;

}
.nav-links {
  list-style: none;
  display: flex;
   gap: 2.5rem;
}

.navbar-left{
   display: flex;
  padding-left: 200px;
    gap: 30px;
}

.navbar-left a {
  text-decoration: none;
  color: white;
  font-weight: 500;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 10px;
  list-style: none;
}

.navbar-right button {
  background-color: azure;
  color: #0f1f3d;
  padding: 8px 14px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
}

.nav-links li {
  cursor: pointer;
}

 .navbar-right a {
  text-decoration: none;
  color: white;
  font-weight: 500;
}

.navbar-right a:hover,
.nav-links li a:hover {
  color: #60a5fa;
}